@font-face{
    font-family: 'silk serif regular';
    src: url('/silkserif-regularitalic-webfont.woff') format('woff2');
}
@font-face{
    font-family: 'silk serif light';
    src: url('/silkserif-lightitalic-webfont.woff') format('woff2');
}
@font-face{
    font-family: 'regular';
    src: url('/plain-regular-webfont.woff') format('woff2');
}
@font-face{
    font-family: 'light';
    src: url('/plain-light-webfont.woff') format('woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'regular';
}
html,body{
    height: 100%;
    width: 100%;
    cursor: none;
    
}

.mousefollower{
    border: 2px solid #fff;
    background-color: white;
    scale: 2;
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    text-align: right;
}
#line1part1 h5, #line1part1 h6{
    font-size: 3.5vw;
    font-weight: 100;
    font-family: 'silk serif light';
}
#line1part1 h5{
    width: 5vw;
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'regular';
}
.line h2{
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    animation-delay: 0.5;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
@keyframes anime{
    0%{
        font-family: 'light';
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: 'light';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif light';
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif light';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;

    }
}

#main{
    width: 100%;
    position: relative;
    background-color: #151515;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.5vw;
}
#nav #navpart2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#navpart2 h4{
    font-size: 1vw;
}
.hero{
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
.hero:nth-child(2){
    margin-top: 10vh;

}
.hero h1{
    font-size: 7vw;
    font-family: 'regular';
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 400;
    position: relative;
    z-index: 999;
}
.hero h2{
    font-size: 7vw;
    font-family: 'regular';
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 400;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    border-bottom-color: transparent;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
    background-color: #151515;
}

#videocontainer{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url('https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg');
}
#videocontainer img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: 999;
}
#videocontainer video{
    height: 100%;
    position: relative;
    width: 100%;
    object-fit: cover;
}
#videocrsr{
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

}
#videocrse i{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 7vh 5vw;
}
#page3 h1{
    font-size: 7vw;
    margin-left: 28vw;
    text-transform: uppercase;
    font-weight: 500;

}
#page3 .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 3.6vw;
    margin-left: 28vw;
    margin-bottom: 3.6vw;

}
.page3circle{
    height: 18vw;
    width: 18vw;
    border: 2px solid #fff;
    border-radius: 50%;
    align-self: self-end;
    align-self: flex-end;

}
#downarrowcontainer{
    margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#downarrowcontainer p{
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     z-index:-1;
     color: black;
}
#rightarrowcontainer{
    margin-top: -10vw;
    margin-right: -5vw;
    align-self: self-start;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#rightarrowcontainer p{
    position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     z-index:-1;
     color: black;
}
#right{
    font-size: 9vw;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #e8e8e8;
    position: relative;
    z-index: 999;
}
#down{
    font-size: 9vw;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #e8e8e8;
    position: relative;
    z-index: 999;

}
#imagedivcontainer{
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 5vw;
    
}
#imagedivcontainer .imagediv{
    height: 30vw;
    width: 22vw;
    position: relative;
    overflow: hidden;
}

.imagediv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#imagedivcontainer div:nth-child(2){
    height: 40vw;
    width: 25vw;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 7vw 0;
}
#page4content{
    width: 65vw;
    position: relative;
    margin-left: 28%;

}
#page4content h1{
    font-size: 7vw;
    text-transform: uppercase;

}
#page4content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}
#page4content>p{
    width: 50%;
    font-size: 2.05vw;
    margin-bottom: 3vw;
    line-height: -.1vw;
}
#page4flex{
    display: flex;
}
#page4flex img{
    width: 48%;
}
#page4flex p{
    font-size: 1vw;
    width: 19%;
    margin-left: 1vw;
}
#page4bluediv{
    background-color: #3f7df4;
    width: 33vw;
    padding: 4vw 2vw;
    position: relative;
    margin-top: -36vh;
    margin-left: 27vw;
}
.bluedivelem{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #e8e8e8;
    padding: 1.5vw 0;
}
.bluedivelem h2{
    font-size: 1.4vw;
    font-weight: 500;
}
.bluedivelem p{
    width: 50%;
}
#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
    background-color: #151515;
    position: relative;
}
.elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vw;
}
.elem span, .elem2 span{
    font-style: italic;
    font-family: 'silk serif regular';
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.elem h1{
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 2vw;
    animation-name: anime2;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anime2{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 2vw));
    }
}
.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vw;
}
.elem2 h1{
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 2vw;
    transform: translateX(calc(-100% - 2vw));
    animation-name: anime2;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#footer{
    height: 100vh;
    width: 100%;
    /* background-color: crimson; */
    padding-left: 28%;
    padding-top: 4vw;
}
#footer h1{
    font-size: 6vw;
    font-weight: 500;
    width: 60vw;
    padding-left: 2vw;
    text-transform: uppercase;
    position: relative;
}
#footer .underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 1vw;
}
#footerdiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 15vw;
    padding-top: 4vw;
}
#footerdiv h6{
    font-size: 0.9vw;
    padding-left: 2vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
    text-transform: uppercase;
}
#footerdiv h5{
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0.2vw 0;
    padding-left: 2vw;
    text-transform: uppercase;
}
#copyright{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;


}


